<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %>

<body>

    <%- include('./partials/header') %>

    <div class="container">
        <div class="container card col-lg-5 col-md-7 mt-4 px-4" id="form">

            <h5 class="text-center mt-4 mb-4" id="texto-identificacao">Configurações</h5>

            <div class="form-group">
                <label for="FormControlInput1">Nome Completo</label>
                <input type="text" class="form-control" id="FormControlInput" placeholder="Nome atual do perfil"
                    name="nome" value="<%= usuario.nome %>">
            </div>

            <div class="form-group">
                <label for="FormControlInput1">Alterar E-mail de Cadastro</label>
                <input type="text" class="form-control" id="FormControlInput" placeholder="<%= usuario.email %>"
                    name="nome">
            </div>

            <div class="form-group">
                <label for="FormControlInput1">Alterar Senha</label>
                <input type="text" class="form-control" id="FormControlInput" placeholder="Digite sua nova senha"
                    name="nome">
            </div>

            <div class="d-flex mb-3 mx-auto">
                <a href="/home">
                    <button type="button" class="btn-salvar px-5 py-2">Cancelar</button>
                </a>
                <button type="submit" class="btn-salvar px-5 py-2">Salvar</button>

            </div>

            <div>
                <button type="button" class="btn btn-danger btn-block">Excluir conta</button>
            </div>

        </div>
    </div>

    <%- include('./partials/scripts') %>

</body>

</html>