<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %> 

<body>

<%- include('./partials/header') %>
<main>

    <div class="container mt-md-5 mb-3">
        <div class="row">

            <!-- Seção do Perfil -->
            <section class="col-3 d-none d-md-block p-0" id="perfil">                

                <div class="card" id="card-perfil">                 
                        <img src="<%= usuario.foto_perfil %>" class="card-img-top" alt="...">                   
                    <div class="card-body">

                        <h5 class="card-title mb-0"> <%= usuario.nome  %> </h5>
                        <h6 class="card-text text-muted"> @<%= usuario.nickname  %> </h6>
                        <p class="card-text"> <%= usuario.biografia  %> </p>
                        <a href="/usuario/editar" class="btn btn-vegme">Editar</a>
                    </div>
                </div>

            </section>

            <!-- Seção do Post -->
            <section class="col-md-6" id="post">

                <!-- Botões Post -->
                <div class="d-none d-md-flex justify-content-between">

                    <a href="/post/criar">
                        <button type="button" class="btn btn-vegme" id="btn-criar-post">Criar</button>
                    </a>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-vegme active">
                            <input type="radio" name="publico-amigos" id="post-publico" checked> Público
                        </label>
                        <label class="btn btn-vegme">
                            <input type="radio" name="publico-amigos" id="post-amigos"> Favoritos
                        </label>
                    </div>

                </div>

                <!-- Feed -->
                <div id="feed" class="row d-md-block mt-3">

                    <div class="col p-0">

                        <!-- Card do Post -->
                        <% posts.forEach( post => {  %> 
                            <div class="card"> 
                                <% if(post.imagens[0].caminho != "null"){ %>                                
                                <img src="<%=post.imagens[0].caminho%>" class="card-img-top"
                                    alt="...">
                                <% } %> 
                                <div class="card-body">
    
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title"><%=post.titulo%></h5>
                                        <p id="data-post" class="text-muted"><%= moment().format('DD/MM/YYYY')%></p>
                                    </div>
    
                                </div>
    
                                <!-- Botões Post + Curtir + Comentar -->
                                <div class="row">
    
                                    <div class="col group-btn-post">
                                        <a href="/post/post-completo">
                                            <button type="button" class="btn btn-ccp">Post</button>
                                        </a>
                                    </div>
                                    <div class="col group-btn-post">
                                        <button type="button" class="btn btn-ccp">Curtir</button>
                                    </div>
                                    <div class="col group-btn-post">
                                        <button type="button" class="btn btn-ccp">Comentar</button>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        

                    </div>

                </div>

            </section>

            <!-- Seção Amigos -->
            <section class="col-md-3 d-none d-md-block " id="amigos">

                <h3 class="text-center mt-2">Favoritos</h3>

                <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                        <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid"
                            alt="...">
                        Henrique
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid"
                            alt="...">
                        Ariele
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <img src="/images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid"
                            alt="...">
                        Bruno
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                        <img src="images/e4dc8320-7171-11e8-85fa-f767ca73e247_IMG_0794.jpg" class="img-amigo img-fluid"
                            alt="...">
                        Guilherme
                    </div>
                </div>
            </section>

        </div>
    </div>

</main>

<!-- Footer para mobile -->
<footer>
    <div class="container d-md-none p-2">
        <div class="row">
            <div class="col btn-feed">
                <a href="#nav-bar">
                    <button type="button" class="btn btn-vegme" id="btn-footer-home">Home</button>
                </a>
            </div>
            <div class="col btn-feed">
                <button type="button" class="btn btn-vegme" id="btn-footer-amigos">Favoritos</button>
            </div>
            <div class="col btn-feed">
                <a href="/post/criar">
                    <button type="button" class="btn btn-vegme">Criar</button>
                </a>
            </div>
        </div>
    </div>
</footer>

<%- include('./partials/scripts') %> 

</body>

</html>