<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %>

<body>

    <%- include('./partials/header') %>
    <main>

        <div class="container mt-md-5 mb-3">
            <div class="row">

                <!-- Seção do Perfil -->
                <section class="col-3 d-none d-md-block p-0" id="perfil">

                    <div class="card" id="card-perfil">
                        <% if(perfilUsuario.foto_perfil.indexOf("https")) { %>
                            <img src="/<%=perfilUsuario.foto_perfil %> "class="card-img-top" alt="...">
                        <% } else { %> 
                            <img src="<%=perfilUsuario.foto_perfil %> "class="card-img-top" alt="...">
                        <% } %>
                        
                        <div class="card-body">

                            <h5 class="card-title mb-0"> <%= perfilUsuario.nome  %> </h5>
                            <h6 class="card-text text-muted"> @<%= perfilUsuario.nickname  %> </h6>
                            <p class="card-text"> <%= perfilUsuario.biografia  %> </p>
                        </div>

                        <% if (usuario.id != perfilUsuario.id) { %>
                            <% if (visitanteFavoritado != undefined) { %>
                                <a class="my-2 text-center" href="/usuario/remover/favorito/<%=perfilUsuario.id%>">
                                    <button type="button" class="btn btn-vegme" id="btn-remover-favorito">Remover</button>
                                </a>
                            <% } else { %>
                                <a class="my-2 text-center" href="/usuario/adicionar/favorito/<%=perfilUsuario.id%>">
                                    <button type="button" class="btn btn-vegme" id="btn-adicionar-favorito">Adicionar</button>
                                </a>
                            <% } %>
                        <% } %>
                    </div>

                </section>

                <!-- Seção do Post -->
                <section class="col-md-6" id="post">

                    <!-- Feed -->
                    <div id="feed" class="row d-md-block">

                        <div class="col p-0">

                            <!-- Card do Post -->
                            <% posts.forEach( post => {  %>
                            <div class="card" id="<%=post.id%>">

                                <!-- Header do Post -->
                                <div class="d-flex align-items-center justify-content-between m-1">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <% if(post.usuario.foto_perfil.indexOf("https")) { %>
                                            <img src="/<%=post.usuario.foto_perfil %> "alt="Logo" id="foto-perfil">
                                        <% } else { %> 
                                            <img src="<%=post.usuario.foto_perfil %> "alt="Logo" id="foto-perfil">
                                        <% } %>
                                        <div>
                                            <p class="pl-2 m-0"><%= post.usuario.nome %></p>

                                            <p id="data-post" class="text-muted pl-2 m-0">
                                                <%= moment(post.createdAt).format('DD/MM/YYYY')%></p>
                                        </div>
                                    </div>

                                    <!-- Botão Editar Post -->
                                    <% if (usuario.id == post.usuario.id) { %>
                                    <div class="align-self-center">
                                        <button type="button" class="btn" data-toggle="modal"
                                            data-target="#post-editar-<%= post.id %>">
                                            <i class="fas fa-edit icon-editar"></i>
                                        </button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="post-editar-<%= post.id %>" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Editar Post</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <form action="/post/editar/<%= post.id %>" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                for="post-titulo-<%= post.id %>">Título do post</label>
                                                            <input type="text" class="form-control"
                                                                id="post-titulo-<%= post.id %>" name="titulo"
                                                                value="<%= post.titulo %>">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"
                                                                for="post-descricao-<%= post.id %>">Descrição</label>
                                                            <textarea class="form-control"
                                                                id="post-descricao-<%= post.id %>" rows="6"
                                                                name="descricao"><%= post.descricao %></textarea>
                                                        </div>

                                                        <div id="alert-ans">
                
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label class="form-label" for="post-midias-anexadas">
                                                                Mídias anexadas
                                                            </label>

                                                            <div class="midias">
                                                                <img class="img-thumbnail rounded" src="" alt=""
                                                                    class="foto-label" width="100%" height="100%">
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <input id='selecao-foto-<%= post.id %>' class="selecao-foto"
                                                                type='file' name="fotoPost">
                                                            <label for='selecao-foto-<%= post.id %>'
                                                                id="btn-input-foto"></label>
                                                            <label for='selecao-foto-<%= post.id %>'
                                                                id="texto-selecionar-foto">Selecionar foto</label>
                                                        </div>

                                                    </div>

                                                    <div class="modal-footer d-flex justify-content-between">
                                                        <div class="btn-group dropup">
                                                            <button type="button" class="btn btn-danger dropdown-toggle"
                                                                data-toggle="dropdown">
                                                                Excluir Post
                                                            </button>
                                                            <div class="dropdown-menu p-0">
                                                                <button type="submit"
                                                                    formaction="/post/excluir/<%= post.id %>"
                                                                    formmethod="POST"
                                                                    class="btn btn-block btn-danger">Sim</button>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-vegme">Salvar
                                                            Alterações</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <% } %>

                                </div>
                                
                                <% if(post.imagens[0].caminho != "null"){ %>
                                <% if(post.imagens[0].arquivo.indexOf("image") == 0) { %>
                                <img src="/<%=post.imagens[0].caminho%>" class="card-img-top" alt="...">
                                <% } else { %>
                                <video controls loop controlslist='nodownload' src="/<%=post.imagens[0].caminho %>" class="card-img-top" alt="..."></video>
                                    <% } %>
                                    <% } %>

                                    <div class="card-body">

                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title"><%=post.titulo%></h5>
                                        </div>

                                    </div>

                                    <!-- Botões Post + Curtir + Comentar -->
                                    <div class="row">

                                        <div class="col group-btn-post">
                                            <a href="/post/post-completo?post=<%=post.id%>">
                                                <button type="button" class="btn btn-ccp">Post</button>
                                            </a>
                                        </div>
                                        <div class="col group-btn-post">
                                            <a>
                                                <button type="button" class="btn-curtir-home btn btn-ccp">
                                                    Curtir

                                                    <% let statusCurtida = '' %>
                                                    <% post.curtidas.forEach(curtida => { %>
                                                    <% if (curtida.usuarioId == perfilUsuario.id) { %>
                                                    <% statusCurtida = 'curtida' %>
                                                    <% } %>
                                                    <% }) %>
                                                    <span class="badge badge-pill <%= statusCurtida %>" id="contador-curtidas"><%= post.curtidas.length %></span>

                                                </button>
                                            </a>
                                        </div>
                                        <div class="col group-btn-post">
                                            <button type="button" class="btn btn-ccp" data-toggle="collapse"
                                                data-target="#form-comentario-<%= post.id %>">Comentar</button>
                                        </div>
                                    </div>

                                    <div class="collapse" id="form-comentario-<%= post.id %>">
                                        <div class="container my-3">
                                            <form action="/comentario/post?post=<%= post.id %>" method="POST"
                                                class="d-flex justify-content-between align-items-center">
                                                <div class="form-group w-100 mr-3 m-0">
                                                    <input type="text" class="form-control"
                                                        id="input-comentario-<%= post.id %>"
                                                        placeholder="Digite seu comentário..." name="descricao">
                                                </div>
                                                <button type="submit">
                                                    <i id="btn-enviar" class="fas fa-paper-plane"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                            </div>
                            <% }) %>
                        </div>
                    </div>

                </section>

                <!-- Seção Favoritos -->
                <section class="col-md-3 d-none d-md-block " id="amigos">

                    <h3 class="text-center mt-2">Favoritos</h3>

                    <div class="list-group list-group-flush">
                        <% favoritos.forEach( favorito => {  %>
                        <div class="list-group-item d-flex align-items-center">
                            <a href="/usuario/<%= favorito.nickname %>">
                                <% if(favorito.foto_perfil.indexOf("https")) { %>
                                    <img src="/<%=favorito.foto_perfil %> "class="img-amigo img-fluid" alt="...">
                                <% } else { %> 
                                    <img src="<%=favorito.foto_perfil %> "class="img-amigo img-fluid" alt="...">
                                <% } %>
                            </a>
                            <%= favorito.nome %>
                        </div>
                        <% }) %>
                    </div>
                </section>

            </div>
        </div>

    </main>

    <!-- Footer para mobile -->
    <footer>
        <div class="container d-md-none p-2">
            <div class="row">
                <div class="col btn-feed">
                    <a href="#nav-bar">
                        <button type="button" class="btn btn-vegme" id="btn-footer-home">Home</button>
                    </a>
                </div>
                <div class="col btn-feed">
                    <button type="button" class="btn btn-vegme" id="btn-footer-amigos">Favoritos</button>
                </div>
                <div class="col btn-feed">
                    <a href="/post/criar">
                        <button type="button" class="btn btn-vegme">Criar</button>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <%- include('./partials/scripts') %>

</body>

</html>