<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %>

<body>

    <%- include('./partials/header') %>

    <section id="amigos">

        <h3 class="text-center mt-4 p-4">Usuários Encontrados</h3>

        <div class="container mb-3">

            <% usuarios.forEach( usuarioEncontrado => {  %>

            <% if( usuario.nickname != usuarioEncontrado.nickname ) { %>

            <div class="list-group-item d-flex align-items-center justify-content-between">
                <div class="d-flex" id="<%=usuarioEncontrado.id%> ">
                    <a href="/usuario/<%= usuarioEncontrado.nickname %>">
                        <img src="<%=usuarioEncontrado.foto_perfil %> " class="img-amigo img-fluid" alt="..."  id="foto-usuario">
                    </a>
                    <div class="d-row ml-2">
                        <p id="nome-usuario"><%= usuarioEncontrado.nome %></p>
                        <p id="nickname-usuario">@<%= usuarioEncontrado.nickname %></p>
                    </div>
                </div>

                <% if (favoritosUsuarioLogado.includes(usuarioEncontrado.id)) { %>
                    <a class="my-1 text-center" href="/usuario/remover/favorito/<%=usuarioEncontrado.id%>">
                        <button type="button" class="btn btn-vegme" id="btn-remover-favorito">Remover</button>
                    </a>
                <% } else { %>
                    <a class="my-1 text-center" href="/usuario/adicionar/favorito/<%=usuarioEncontrado.id%>">
                        <button type="button" class="btn btn-vegme" id="btn-adicionar-favorito">Adicionar</button>
                    </a>
                <% } %>

            </div>
            <% } %>
            <% }) %>
        </div>

    </section>

    <%- include('./partials/scripts') %>

</body>

</html>