<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head-meta') %>

<body>

  <%- include('./partials/header') %>

  <main class="container">
    <div id="post-completo-<%=postCompleto.id%>" class="post-completo container my-3">

      <!-- Header do Post -->
      <div class="d-flex justify-content-between align-items-center my-3">

        <!-- Titular do Post -->
        <div class="d-flex align-items-center justify-content-start">
          <a href="/usuario/<%= titularPost.nickname %>">
            <img src="/<%= titularPost.foto_perfil %>" alt="Logo" id="foto-perfil">
          </a>
          <div class="ml-2">
            <p><%= titularPost.nome %></p>
            <h4><%=postCompleto.titulo%></h4>
          </div>
        </div>

        <!-- ícone para denunciar -->
        <div class="icon-denunciar">
          <!-- <i class="fas fa-exclamation-triangle"></i> -->
          <a href='javascript:history.back()'>
            <i class="fas fa-arrow-left"></i>
          </a>
        </div>

      </div>

      <!-- Card do Post -->
      <div class="card mb-3">
        <% if(imagens[0].caminho != "null"){ %>
          <img src="/<%=imagens[0].caminho%>" class="card-img-top" alt="...">
        <% } %>
        <div class="card-body">

          <div class="d-flex justify-content-between">
            <p><%= postCompleto.descricao%></p>
          </div>

        </div>

        <!-- Botões Post + Curtir + Comentar -->

        <div class="row">

          <div class="col group-btn-post">
            <a >
                <button type="button"  class="btn-curtir btn btn-ccp">
                    Curtir

                    <% let statusCurtida = '' %>
                    <% curtidas.forEach(curtida => { %>
                        <% if (curtida.usuarioId == usuario.id) { %>
                            <% statusCurtida = 'curtida' %> 
                        <% } %>
                    <% }) %>
                    <span class="badge badge-pill <%= statusCurtida %>" id="contador-curtidas"><%= curtidas.length %></span>

                </button>
            </a>    
          </div>
          
          <div class="col group-btn-post">
            <button type="button" class="btn btn-ccp" data-toggle="collapse" data-target="#form-comentario-<%= postCompleto.id %>">Comentar</button>
          </div>

        </div>

        <div class="collapse" id="form-comentario-<%= postCompleto.id %>">
          <div class="container my-3">
              <form action="/comentario/post?post=<%= postCompleto.id %>" method="POST" class="d-flex justify-content-between align-items-center">
                  <div class="form-group w-100 mr-3 m-0">
                      <input type="text" class="form-control" id="input-comentario-<%= postCompleto.id %>" placeholder="Digite seu comentário..." name="descricao">
                  </div>
                  <button type="submit">
                      <i id="btn-enviar" class="fas fa-paper-plane"></i>
                  </button>
              </form>
            </div>
        </div>
      </div>

      <!-- Seção Comentários -->
      <% if (comentarios.length > 0) { %>
        <section class="border" id="post-comentario">
          <% comentarios.forEach(comentario => { %>
            <div  class="list-group list-group-flush">
              <div id="comentario-<%= comentario.id %>" class="list-group-item">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <div class="d-flex">
                    <a href="/usuario/<%= comentario.usuario.nickname %>">
                      <img src="/<%= comentario.usuario.foto_perfil %>" class="img-amigo">
                    </a>
                    <p class="nome-perfil"><%= comentario.usuario.nome %></p>
                  </div>

                  <button  class="btn-excluir">
                    <i class="btn fas fa-trash-alt"></i>
                  </button>

                </div>
                <p><%= comentario.descricao %></p>
              </div>
            </div>
          <% })%>
        </section>
      <% } %>

    </div>
  </main>

  <%- include('./partials/scripts') %>
   <script src="/js/excluir-comentario.js"></script> 
   <script src="/js/curtir-post.js"></script> 

</body>

</html>